<meta charset="utf-8">
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/javascripts/rankings.js"></script>
</head>

<body>
<div class = "activitypage">
<div class="container text-center mt-4">
    <div class="d-flex justify-content-center py-2" id="userID">UserID:   <div name= "userID" style="display:inline" id="userID">{{ userID }}</div></div>
    <h1 class= "py-2">Exercise {{ id }} of 8 - Ranking</h1>
    <div>
    <p>
        In this activity you will rank the pictures in order 
        from <strong>least</strong> to <strong>greatest</strong> number of dots. 
        Click on each individual dot picture to place it in your answer.
    </p>
    </div>
    <div class ="float-left text-info">Least number of dots</div> 
    <div class = "float-right text-info r-1">Greatest number of dots</div>
    <div class = "activity"></div>
    <form method="POST" action="/activity/{{id}}/{{type}}/">
        <p class="py-2 text-danger"> {{ error }} </p>
        <div role="toolbar">
            <div class="btn-group py-2 mr-1" role="group">
                <button type="button" class="py-2 btn btn-warning UndoBtn">Undo</button>
                <button type= "button" class="py-2 btn btn-warning ResetBtn">Reset</button>
            </div>
            <div class="btn-group py-2 ml-1" role="group">
                <button type="submit" class="btn btn-success nextBtn">Next</button>
            </div>
        </div>
    </form>

</div>
</div>
<script>

    //construct qustion
    var noiselevel = '{{ noiselevel }}'
    var question = '{{ question }}';
    question = JSON.parse(question)
    question = [parseInt(noiselevel), question]

    var userID = '{{ userID }}';

    var id = '{{ id }}';

    renderQuestion(question, id, userID);

</script>
</body>
</html>