<meta charset="utf-8">
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/javascripts/ratings.js"></script>
        
</head>

<body>
<div class = "activitypage">
<div class="container text-center mt-4">
    <div class="fixed-top py-2" id="userID">UserID: <div name= "userID" style="display:inline" id="userID">{{ userID }}</div></div>
    <h1 class= "py-2">Simple Ranking/Rating Activity - Excercise {{ id }}</h1>
    <h3 class= "py-2"> {{ type }}</h3>
    <div>
    <p>This is an activity where you will estimate how many dots are in the image</p>
    </div>
    <div class = "activity"></div>
    <form method="POST" action="/activity/{{id}}/{{type}}/{{picture}}">
        <input style="margin-bottom: 30px; width: 150px; margin-left: auto; margin-right: auto;" type="text" class="form-control" placeholder="Enter Estimate" aria-label="Enter Estimate" aria-describedby="basic-addon2" name="rating">
        <button type="submit" class="btn btn-success nextBtn">Next</button>
    </form>
</div>
</div>
<script> 
    var question = '{{ id }}';
    var picture = '{{ picture }}'
    question = parseInt(question) -1
    picture = parseInt(picture)

    allquestions = [
    [6, [200, 206, 212, 218]],
    [10, [200, 210, 220, 230]],
    [14, [200, 214, 228, 242]],
    [18, [200, 218, 236, 254]]]

    renderQuestion(allquestions[question], picture);

</script>
</body>
</html>